{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [
        ".js",
        ".jsx",
        ".png",
        ".jpg",
        ".jpeg",
        ".svg",
        ".gif",
        ".css",
        ".scss",
        ".sass"
      ],
      "alias": {
        "@components": "./src/components",
        "@constants": "./src/constants",
        "@img": "./src/img",
        "@models": "./src/models",
        "@pages": "./src/pages",
        "@redux": "./src/redux",
        "@styles": "./src/styles",
        "@systems": "./src/systems",
        "@utilities": "./src/utilities",
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": "3",
        "exclude": [
          "transform-regenerator"
        ]
      },
      "@babel/preset-react"
    ]
  ]
}
