{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": "3",
        "exclude": [
          "transform-regenerator"
        ]
      },
      "@babel/preset-react"
    ]
  ]
}
